<!DOCTYPE  html>
<html>
  <head>
    <title>I-Care, the solution for health care</title>
  </head>
  <body>
    <!--satrtbanner-->
    <!--<h1>Staticindex#home</h1>
    <p>Find me in app/views/staticindex/home.html.erb</p>
    <p>Just a simple test</p>-->
    <div class="header"  id="home">
    <div class="header-top">
      <a href="/"><img src=""/></a>
      <h1>It's all for you</h1>
      <div class="header-top-bottom">
        <a href="#about"  class="scoll"><img src=""/></a>
      </div>
    </div>
    <div class="header-home">
    <div class="fixed-header">
      <div class="h_menu4"><!--h_menu4 starts here-->
        <div class="header-left">
          <div class="header-left-logo">
            <a href="/"><img src="images/logo-1.png" alt=""/></a>
          </div>
          <div class="header-left-text">
          <a class="toggleMenu" href="#"><img src="images/menu-icon.png" alt=""/></a>
          <ul class="nav">
            <li><a href="#about" class="scroll"></a></li>
            <li><a href="#work" class="scroll"></a></li>
            <li><a href="#price" class="scroll"></a></li>
            <li><a href="#blog" class="scroll"></a></li>
            <li><a href="#contact" class="scroll"></a></li>
          </ul>
          </div>
          <div class="clearfix"></div>
          <script type="text/javascript" src="nav.js"></script>
          <script type="text/javascript">
            jquery(document).ready(function($){
              $(".scroll").click(function(event)){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset});
              }
            }
          <!--
          K
          E
          E
          P
        -->


        </div>
    </div>
    </div>
    </div>
    <!--end-banner-->
  </body>
</html>
