<!DOCTYPE  html>
<html>
  <head>
    <title>I-Care, the solution for health care</title>

  </head>
  <body>
    <!--satrtbanner-->
    <!--<h1>Staticindex#home</h1>
    <p>Find me in app/views/staticindex/home.html.erb</p>
    <p>Just a simple test</p>-->
    <div class="header"  id="home">
      <div class="header-top">
        <a href="/"><img src=""/></a>
        <h1>It's all for you</h1>
          <div class="header-top-bottom">
            <a href="#about"  class="scoll"><img src=""/></a>
          </div>
        <div class="header-home">

        </div>

      </div>
    </div>
    <!--end-banner-->
  </body>
</html>
